.project-section {
  padding: 3% 3% 3% 3%;
  /* margin: 0%, 0%; */
  /* background-color: #edfeff; */
  /* background-color: #add4d0; */
  /* background-color: #e5f1ef; */
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
#see-button {
  background-color: #3a4059;
  color: white;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 426px) {
  .project-section {
    padding: 10% 3% 3% 3%;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20%, 10%;
    padding-left: 2%;
    padding-right: 2%;
  }
  #rcp-subtitle {
    display: none;
  }
}

/*  */
