.menu {
  /* overflow: hidden; */
  /* background-color: #fcfbfb; */
  /* position: sticky;
  top: 10px; */
}

.menu a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-weight: bold;
}

.links :hover {
  color: rgb(104, 143, 143);
}
/* .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
} */
.menu img {
  width: 100%;
}
