#whatsappIcon {
  position: fixed;
  /* top: 650px; */
  left: 1438px;
  right: 20px;
  width: 3%;
  bottom: 100px;
  z-index: 1;
}

@media only screen and (max-width: 426px) and (min-width: 377px) {
  #whatsappIcon {
    position: fixed;
    /* top: 370px; */
    left: 81%;
    right: 20px;
    width: 10%;
    bottom: 100px;
    z-index: 1;
  }
}

@media only screen and (max-width: 376px) and (min-width: 321px) {
  #whatsappIcon {
    position: fixed;

    left: 78%;
    /* right: 25px; */
    width: 11.5%;
    bottom: 100px;
    z-index: 1;
  }
}

@media only screen and (max-width: 376px) {
  #whatsappIcon {
    display: none;
  }
}
