body a {
  text-decoration: none;
}
.about {
  padding: 4%;
  /* background-color: rgb(246, 251, 255); */
}
#about-me {
  /* font-family: "Maven Pro"; */
}

.my-image-2 {
  width: 15%;
  border: 0.1px solid aqua;
  border-radius: 50%;
}
#my-name {
  font-family: "Solitreo";
}

.social {
  /* display: flex; */
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  color: black;

  /* justify-content: space-evenly; */
}
/* .skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.front-end {
  /* background-color: red; */
  border: 20px solid green;
  border-radius: 50px;
}
.skills-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logos {
  width: 5%;
}
#html {
  width: 4%;
}

.about-para {
  text-align: start;
  font-weight: 400;
  font-family: "Maven Pro";
  /* line-height: 2; */
  text-align: justify;
  /* text-justify: inter-word; */
}
.info-right {
  font-weight: 600;
}
.info-left {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .my-image-2 {
    display: none;
  }
  #about-me {
    margin-bottom: 3%;
  }
  .about-para {
    line-height: 2.5;
  }
  .informations {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: flex-start;
    align-items: center;
  }
  .info-right {
    margin-left: 10%;
  }
}
@media screen and (max-width: 426px) {
  #facebook {
    display: none;
    /* visibility: hidden; */
  }
  .my-image-2 {
    width: 50%;
    border: 0.1px solid aqua;
    border-radius: 50%;
  }
}
