.header {
  padding: 5% 0%;
  /* background-color: rgb(252, 251, 251); */
  /* background-color: #f8f9fa; */

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  /* background: url(../../../common-bg.svg); */
  background-position: center;
}

.my-intro {
  text-align: start;
}
.my-name {
  /* font-weight: bold; */
  /* font-family: "Kanit"; */
  /* font-family: "Jura"; */
  /* font-family: "Baloo Tammudu 2"; */
  /* font-family: "Maven Pro"; */
  font-weight: 700;
  font-size: 3.5rem;
}
#typing-text {
  font-weight: 600;
  font-size: 2em;
  font-family: "Rajdhani";
}
.my-image {
  /* width: 20%;
  border: 2px dashed aqua;
  border-radius: 50%; */
  width: 30%;
  /* border: 2px dashed aqua;
  border-radius: 50%; */
}
/* button start */
/* From uiverse.io by @barisdogansutcu */

/* .download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
} */

/* button end */
/*  */
/* new download button starts */
.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: #3a4059;
  color: white;
  font-family: "Rajdhani";
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  text-indent: 15px;
  border: none;
}

.buttonDownload:hover {
  background-color: #2ecc71;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 1.15px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #cdefbd;
}

.buttonDownload:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}
@media screen and (min-width: 768px) {
  .my-name {
    font-size: 90px;
  }
}

@media screen and (max-width: 426px) {
  .my-intro {
    padding-right: 38%;
  }
  .my-image {
    display: none;
  }
  .my-name {
    font-weight: 700;
    font-size: 2.5rem;
  }
  #typing-text {
    font-weight: 600;
    font-family: "Rajdhani";
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 376px) {
  .my-intro {
    padding-right: 32%;
  }
}
@media screen and (max-width: 320px) {
  .my-intro {
    padding-right: 21%;
  }
}
