.project-hero {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(/assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.project-overview {
  text-align: start;
}

#slider {
  background-color: #f1f2f6;
  /* background-color: red; */
}
#project-detail {
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .screenshots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4%;
  }
  .screenshot {
    width: 600px;
    height: 400px;
  }
  .project-main {
    display: flex;
    gap: 5%;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 3%;
  }
  #project-detail {
    line-height: 2;
    text-align: justify;
  }
  #feature-list {
    line-height: 2;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .screenshot {
    width: 250px;
    height: 150px;
  }
  #slider {
    margin-bottom: 20%;
  }
}
@media only screen and (min-width: 425px) {
  #slider {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}
